
body {
  background-color: PaleGreen;
  }
  h1 {
   text-align: center;
   color: darkSlateBlue;
    font-family: verdana;
	 background-color: Gainsboro;
  }
  p {
   font-family: verdana;
   background-color: Gainsboro;
  }
  img{
   margin: auto;
   display: block;
  }